<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">


</head>
<body>
	<!--<script type="text/javascript">
		$(document).ready(function() {
			$(".scroll").jscroll({
				padding: 20,
				debug: 'true',
				nextSelector: 'div.jscroll-next:last',
				loadingHtml: '<p> askdjahsd</p>',
				contentSelector: 'li',
				callback: $.get( "http://metblue.herokuapp.com/api/searches/563def9cc813740003000064/packages?page=1&per_page=5", function(data) {
				  alert( data );
				})
			})
		});

	</script>
	<script>
		$(document).ready(function(){
		    $("div").scroll(function(){
		        $("h3").text( x+= 1);
		    });
		  });

	</script>-->
	<div class="content" >

	  <div class="plane-wrapper">
	      <h3 class="plane" style="z-index: 2">PLANE</h3>
	  </div>

	</div>
	<div class="crate-wrapper">
		<div class='crate'>
					<div class="viewport">
						<ul class="stack"> <!--Bottom is first-->
								<li class="card">
										<p>Destination: Honolulu, Hawaii (HNL)</p>
										<p>11/07 - 11/10 for 3 nights at the <b>Sheraton</b> Hotel</p>
								</li>
								<li class="card">
										<p>Destination: New York, New York (JFK)</p>
										<p>12/30 - 1/2 for 3 nights at the <b>Sheraton</b> Hotel</p>
								</li>
								<li class="card">
										<p>Destination: San Francisco, California (SFO)</p>
										<p>3/14 - 3/17 for 3 nights at the <b>Sheraton</b> Hotel</p>
								</li>
						</ul>
				</div>
		</div>
    <div id="favorites-wrapper">
      <div class="viewport">
      <ul id="favorites">
        <li class= "card" id="favorites-placeholder">
          <p> Put your favorites here</p>
        </li>
        <li class="card">
          <p> dummy card</p>
        <li>
      </ul>
    </div>
    </div>
	</div>


</body>
</html>
