<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">


</head>
<body>
	<!--<script type="text/javascript">
		$(document).ready(function() {
			$(".scroll").jscroll({
				padding: 20,
				debug: 'true',
				nextSelector: 'div.jscroll-next:last',
				loadingHtml: '<p> askdjahsd</p>',
				contentSelector: 'li',
				callback: $.get( "http://metblue.herokuapp.com/api/searches/563def9cc813740003000064/packages?page=1&per_page=5", function(data) {
				  alert( data );
				})
			})
		});

	</script>
	<script>
		$(document).ready(function(){
		    $("div").scroll(function(){
		        $("h3").text( x+= 1);
		    });
		  });

	</script>-->
	<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script src="jquery.infinitescroll.js"></script>
	<div class="content" >

	  <div id="scroll" class="plane-wrapper">
	      <h3 class="plane" style="z-index: 2">PLANE</h3>

	  </div>
	  <a id="testScroll" class="jscroll" href="index2.html">next page</a>

	</div>
	<div class="crate-wrapper">
		<div class='crate'>
					<div class="viewport">
						<div class="stack"> <!--Bottom is first-->

									<div class="card ticket">
										<span class="airline">San Francisco to Honolulu Trip</span>
										<span class="airline airlineslip">Details</span>
										<div class="ticketContent">
											<span class="origin">SFO</span>
											<span class="plane"><svg clip-rule="evenodd" fill-rule="evenodd" height="60" width="60" image-rendering="optimizeQuality" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg"><g stroke="#222"><line fill="none" stroke-linecap="round" stroke-width="30" x1="300" x2="55" y1="390" y2="390"/><path d="M98 325c-9 10 10 16 25 6l311-156c24-17 35-25 42-50 2-15-46-11-78-7-15 1-34 10-42 16l-56 35 1-1-169-31c-14-3-24-5-37-1-10 5-18 10-27 18l122 72c4 3 5 7 1 9l-44 27-75-15c-10-2-18-4-28 0-8 4-14 9-20 15l74 63z" fill="#222" stroke-linejoin="round" stroke-width="10"/></g></svg></span>
											<span class="dest">HNL</span>


											<div class="sub-content">
												<span class="watermark">Jetblue</span>
												<span class="name">DESTINATION<br><span>Honolulu, Hawaii</span></span>
												<span class="flight">NIGHTS<br><span>3</span></span>
												<span class="gate">BEGIN<br><span>11/7</span></span>
												<span class="seat">END<br><span>11/10</span></span>
												<span class="boardingtime">HOTEL<br><span>SHERATON DOWNTOWN</span></span>

												 <span class="flight flightslip">SUBTOTAL<br><span>$321.76</span></span>

													<span class="seat seatslip">SAVINGS<br><span>$54.00</span></span>
												 <span class="name nameslip">TOTAL<br><span>$375.76</span></span>
											</div>
										</div>
										<div class="barcode"></div>
										<div class="barcode slip"><a href="#" class="myButton">Check Out</a></div>

						</div>
				</div>
		</div>
    <div id="favorites-wrapper">
      <div class="viewport">
      <ul id="favorites">
        <li class= "card" id="favorites-placeholder"></li>
			</ul>


</div>
</div>
	<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
        </li>
        <li class="card">
        <li>
      </ul>
    </div>
    </div>
	</div>

	<script type="text/javascript">
		$(document).ready(function(){
			$('#scroll').infinitescroll({
				navSelector: "#testScroll:last",
				nextSelector: "#testScroll:last",
				itemSelector: "#scroll",
				debug: false,
				dataType: 'html',
		    maxPage: 6,
				path: function(index) {
					return "index" + index + ".html";
				}
				// appendCallback	: false, // USE FOR PREPENDING
		    }, function(newElements, data, url){
		      // used for prepending data
		    	// $(newElements).css('background-color','#ffef00');
		    	// $(this).prepend(newElements);
		    });
		});
	</script>
</body>
</html>
