/** { background:#C0DEED}*/
#awan {
position:fixed;
top:0px;left:0px;
width:100%;
height:400px;
text-align:center;
margin:0px;
padding:0px;
/*background-color:#C0DEED;*/
background: url(https://abs.twimg.com/images/themes/theme1/bg.png);
background-repeat: repeat-x;

  width: 100%;

  animation: awan-animasi 10s linear infinite;
  -ms-animation: awan-animasi 10s linear infinite;
  -moz-animation: awan-animasi 10s linear infinite;
  -webkit-animation: awan-animasi 10s linear infinite;
}

@keyframes awan-animasi {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 100% 0;
  };
}

@-webkit-keyframes awan-animasi {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 100% 0;
  };
}

@-ms-keyframes awan-animasi {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 100% 0;
  };
}

@-moz-keyframes awan-animasi {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 100% 0;
  };
}
