#container {
    position: fixed;
    height: 100%;
    width: 100%;
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.static_pages.index #container {
    background-image: url("bg2.jpg");
}

.static_pages.flights #container, .static_pages.favorites #container {
    background-image: url("login bg.png");
}

#main {
    position: relative;
    top: 50px;
}

@media screen and (min-height: 640px) {  
    .static_pages.index #main {
        top: 200px;
    }

    .static_pages.flights #main {
        top: 100px;
    }
}

@media screen and (min-height: 768px) {  
    .static_pages.index #main {
        top: 300px;
    }

    .static_pages.flights #main {
        top: 140px;
    }
}

@media screen and (min-height: 960px) {  
    .static_pages.index #main {
        top: 380px;
    }

    .static_pages.flights #main {
        top: 210px;
    }
}

#logo {
    position: relative;
    width: 24em;
    left: 50%;
    margin-left: -12em;
    margin-bottom: 3em;
}

#login {
    position: relative;
    width: 16em;
    left: 50%;
    margin-left: -8em;
}

#logo img, #login img {
    width: 100%;
}

#plane {
    position: relative;
    width: 24em;
    left: 50%;
    margin-left: -12em;
    margin-bottom: 5em;
    z-index: 1;
}

#plane img {
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    width: 100%;
}

#cardContainer {
    list-style: none;
    position: relative;
}

.card {
    -webkit-animation-duration: 0.7s;
    animation-duration: 0.7s;
}

.static_pages.flights .card {
    cursor: pointer;
}

#favorites {
    position: absolute;
    font-family: PT Sans;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    background: #4EC000;
    width: 8em;
    padding: 0.5em;
    border-radius: 2em;
    left: 2em;
    top: 3.3em;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    opacity: 0;
}

#favorites a {
    color: white;
    text-decoration: none;
    letter-spacing: 0.1em;
}

#favorites.dragging {
    background: #DB0A5B;
}

#favorites-container {
    list-style: none;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
}

#favorites-container .card {
    margin: 3em 0;
}

#favorites-container .box {
    position: relative;
    top: auto;
}

#favorites-container .ticket {
    position: relative;
}

#favorites-container .left {
    z-index: 1;
}

#favorites-container .right {
    z-index: 1;
    left: 600px;
}

